body {
  width: 900px;
  background-color: #a9e4ea;
  padding: 20px 20px 20px 20px;
}
nav {
  /*width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  */
  width: 900px;
  margin: 0 auto;
  background-color: #a9e4ea;
  padding: 20px 20px 20px 20px;
  display: flex;
  border: 5px solid black;
  
}

div{
  width: 25%;
  background:black;
  border: 2px solid white;
  padding: 0px 10px 0px 0px;
}
a{
  color: white;
  text-align: center;
  font-size: 20pt;
  text-decoration: none;
}

.imagen {
  margin: 20px auto 20px;
  display: block;
}

.body-abuelos {
  width: 900px;
  background-color: #efefef;
  padding: 20px 20px 20px 20px;
}

.nav-abuelos {
  width: 900px;
  margin: 0 auto;
  background-color: #efefef;
  padding: 20px 20px 20px 20px;
  display: flex;
  border: 5px solid black;
  
}
